@tailwind base;
@tailwind components;
@tailwind utilities;

/* red-hat-display-latin-wght-normal */
@font-face {
  font-family: "Red Hat Display Variable";
  font-style: normal;
  font-display: auto;
  font-weight: 300 900;
  src: url(@fontsource-variable/red-hat-display/files/red-hat-display-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* red-hat-display-latin-ext-wght-normal */
@font-face {
  font-family: "Red Hat Display Variable";
  font-style: normal;
  font-display: auto;
  font-weight: 300 900;
  src: url(@fontsource-variable/red-hat-display/files/red-hat-display-latin-ext-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
:root {
  --primaryGreen: #335f32;
  --textColor: #000000;
  --navbg: #fcfcfc;
  --border-gradient: linear-gradient(270deg, #335F32 42%, #EAA315 100%);
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: "Red Hat Display Variable", sans-serif;
}

 .scrollbar-hidden {
    -ms-overflow-style: none;  /* For Internet Explorer */
    scrollbar-width: none;  /* For Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Edge */
  }

  .bg-gradient {
    background: linear-gradient(314.28deg, rgba(255, 255, 251, 0.7) 28.4%, rgba(246, 253, 244, 0.7) 60.34%, rgba(255, 237, 203, 0.7) 81.21%);
  }

  .swal2-styled{
    background: #335F32;
  }
  .swal2-title{
    color: #335F32
  }